@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Roboto", sans-serif;
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 h-screen flex flex-col justify-between gap-5;
}

.btnPrimary {
  @apply rounded-lg bg-indigo-500 text-white p-2 border-2 border-white hover:bg-white hover:text-black hover:border-indigo-500 transition duration-500;
}

.header {
  @apply px-5;
}

.navbar {
  @apply text-white flex items-center py-2 justify-between;
}

.navbar-brand {
  @apply flex items-center gap-3;
}

.navbar-brand-text {
  @apply font-bold text-2xl;
}

.navbar-nav {
  @apply flex items-center gap-2 md:gap-10 text-center;
}

.nav-item {
  @apply text-base relative;
}

.nav-item::after {
  @apply content-[''] bg-white h-[3px] w-[0%] left-0 rounded-xl absolute -bottom-[5px] duration-300;
}

.nav-item:hover::after {
  @apply w-[100%];
}

footer {
  @apply p-5 text-center text-white;
}

main {
  @apply px-10 md:px-20 w-full;
}
