.course {
  @apply bg-white p-5 rounded;
}

.course h1 {
  @apply text-xl font-bold;
}

.lesson {
  @apply p-2 my-2 bg-gray-200 rounded cursor-pointer hover:bg-indigo-500 hover:text-white transition duration-300;
}
