.lesson {
  @apply bg-white p-5 rounded;
}

.lesson .lesson-title {
  @apply text-3xl font-bold border-b-indigo-500 border-b-4 pb-5 text-indigo-500;
}

.lesson .lesson-content {
  @apply mt-5 text-justify;
}

.lesson h2 {
  @apply mb-3 border-b-indigo-500 border-b-4 pb-5 text-indigo-500 text-2xl;
}

.lesson blockquote {
  @apply bg-gray-200 p-4 rounded my-2;
}

.lesson p {
  @apply my-4;
}

figcaption {
  @apply text-center;
}
