@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.introduction {
  @apply text-white flex flex-col gap-5 items-center justify-center max-w-[1000px] m-auto text-center min-h-full;
}

.introduction .introduction-text {
  font-family: "Lora", serif;
  @apply sm:text-3xl text-2xl font-bold uppercase leading-normal max-w-[800px];
}

.introduction .introduction-image {
  @apply rounded-2xl max-h-[450px];
}
